[submodule "src/libs/melonscript-vm"]
	path = src/kolanut/libs/melonscript-vm
	url = git@github.com:daniele-rapagnani/melon.git 
[submodule "src/kolanut/libs/linalg"]
	path = src/kolanut/libs/linalg
	url = git@github.com:sgorsten/linalg.git
[submodule "src/kolanut/libs/tmxparser"]
	path = src/kolanut/libs/tmxparser
	url = https://github.com/sainteos/tmxparser
[submodule "src/kolanut/libs/tinyxml2"]
	path = src/kolanut/libs/tinyxml2
	url = git@github.com:leethomason/tinyxml2.git
[submodule "src/kolanut/libs/glfw"]
	path = src/kolanut/libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "src/kolanut/libs/glm"]
	path = src/kolanut/libs/glm
	url = https://github.com/g-truc/glm
[submodule "src/kolanut/libs/cppfs"]
	path = src/kolanut/libs/cppfs
	url = git@github.com:cginternals/cppfs.git
[submodule "src/kolanut/libs/tracy"]
	path = src/kolanut/libs/tracy
	url = git@github.com:wolfpld/tracy.git
[submodule "src/kolanut/libs/shaderc"]
	path = src/kolanut/libs/shaderc
	url = git@github.com:google/shaderc.git
